body {
  background: #f5f5f5;
  font-family: Arial, sans-serif;
  color: #333;
  height: 100%;
  width: 100%;
  font-size: 1rem;
}

main {
  margin: 5rem 3rem;
  background: #fff;
  border-radius: 2px;
  box-shadow: 10px 5px 5px #d5d5d5;
  border: 1px solid #d5d5d5;
}

main > h1 {
  font-weight: normal;
  padding: 1.5rem;
  margin: 0;
  border-bottom: 1px solid #d5d5d5;
  display: flex;
  justify-content: space-between;
}

#add-todo-label {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d5d5d5;
  align-items: center;
  padding-right: 1.5rem;
}

#add-todo {
  box-sizing: border-box;
  margin: 0;
  margin-right: 1.5rem;
  font-size: 1.5rem;
  font-style: italic;
  padding: 1.5rem;
  border: none;
  width: 100%;
}

#add-todo:focus {
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul > li {
  padding: 1.5rem;
  border-bottom: 1px solid #d5d5d5;
  display: flex;
  justify-content: space-between;
}

ul > li > label {
  display: flex;
  gap: 1.5rem;
}

.checkbox {
  height: 1rem;
  width: 1rem;
  margin: 0;
}

footer {
  background: #f5f5f5;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
}

footer > a {
  text-decoration: none;
  color: #888;
}

footer > a:hover {
  text-decoration: underline;
}

.header-icon {
  height: 2rem;
}

.icon {
  height: 1rem;
}

.edit-todo-form {
  background: lightyellow;
  padding: 1.5rem;
  border-bottom: 1px solid #d5d5d5;
  display: flex;
  justify-content: space-between;
}

.edit-todo-form > label {
  display: flex;
  gap: 1.5rem;
}

.edit-todo-input {
  border: none;
  background: lightyellow;
}

.edit-todo-input:focus {
  outline: none;
}

.completed {
  text-decoration: line-through;
}
